<!doctype html>
<html ng-app="app">
	<head>
		<meta charset="utf-8">
		<title>Coffee - Cupping Chart</title>
		<meta name = "viewport" content = "initial-scale = 1, user-scalable = no">
		<link href='http://fonts.googleapis.com/css?family=Oswald:400,700' rel='stylesheet' type='text/css'>
		<link href="http://cdn.shopify.com/s/files/1/0188/5540/t/2/assets/foundation.css?1890" rel="stylesheet" type="text/css"  media="all"  />
  		<link href="http://netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet" />  
  		<link href="http://cdn.shopify.com/s/files/1/0188/5540/t/2/assets/stylesheet.css?1890" rel="stylesheet" type="text/css"  media="all"  />
		<style>
			canvas{
			}
		</style>
	</head>
	<body>
		<h2>Coffee - Cupping Chart</h3>
		<div ng-controller="appCtrl">
			<canvas id="mycanvas" chart type="Radar" options="options" data="chart" width="400" height="400"></canvas>
			<button ng-click="toDataURL()">
  			Save Image
  		</button>
  		<a href="{{dataUrl}}">Download</a>
<!-- 			<hr>
			<span>Number of dimensions: {{chart.labels.length}}</span>
			<span>& Number of data points: {{chart.datasets[0].data.length}}</span> -->
			<hr>
			<span>{{chart.labels[0]}}: <input type="number" ng-model="chart.datasets[0].data[0]"></span>
			<hr>
			<span>{{chart.labels[1]}}: <input type="number" ng-model="chart.datasets[0].data[1]"></span>
			<hr>
			<span>{{chart.labels[2]}}: <input type="number" ng-model="chart.datasets[0].data[2]"></span>
			<hr>
			<span>{{chart.labels[3]}}: <input type="number" ng-model="chart.datasets[0].data[3]"></span>
			<hr>
			<span>{{chart.labels[4]}}: <input type="number" ng-model="chart.datasets[0].data[4]"></span>
			<hr>
			<span>{{chart.labels[5]}}: <input type="number" ng-model="chart.datasets[0].data[5]"></span>
			<hr>
			<span>{{chart.labels[6]}}: <input type="number" ng-model="chart.datasets[0].data[6]"></span>
			<hr>
			<span>{{chart.labels[7]}}: <input type="number" ng-model="chart.datasets[0].data[7]"></span>
			<hr>
			<span>{{chart.labels[8]}}: <input type="number" ng-model="chart.datasets[0].data[8]"></span>
			<hr>
			<span>{{chart.labels[9]}}: <input type="number" ng-model="chart.datasets[0].data[9]"></span>
			<hr>
			<span>{{chart.labels[10]}}: <input type="number" ng-model="chart.datasets[0].data[10]"></span>
			<hr>
		</div>
			<!----------------------------  Vendor Scripts  ---------------------------------------->
		<script type="text/javascript" src="vendor/angular/angular.min.js"></script>
		
		<script type="text/javascript" src="vendor/Chart.js/Chart.min.js"></script>
		<script type="text/javascript" src="vendor/angles/libs/angles.js"></script>	



		<!----------------------------  Application Script  ------------------------------------>
		<script type="text/javascript" src="app.js"></script>
	</body>
</html>		

